@import './variables.scss';

%list {
  padding: 0;
  margin: 0;
  list-style: none;
}

%shadow {
  box-shadow: 0 4px 10px 5px rgba(black, .2);
}

%editable-field {
  border-color: transparent;
  transition: background $transition;

  &-hover {
    border-color: $lightHover;
    background: $lightHover;
  }

  &-focus {
    &:focus {
      border-color: $light;
      background: $lightHover;
      outline: none;
    }
  }
}