@import './variables.scss';
@import './common.scss';

.editor {
  &-selectable-field {
    /deep/ {
      .ProseMirror {
        @extend %editable-field;
        padding: $inputPadding;
        margin-bottom: $inputMargin;
        min-height: 300px;
        border-width: 1px;
        border-style: solid;

        &-focused {
          @extend %editable-field-focus;
        }

        * {
          &:first-child {
            margin-top: 0;
          }

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    &:hover {
      /deep/ {
        .ProseMirror {
          @extend %editable-field-hover;
        }
      }
    }
  }

  $menuHeight: 38px;

  &-menu {
    button {
      width: 38px;
      height: 38px;
      text-align: center;
      padding: 5px;
      margin: 0;
      box-shadow: none;
      background: none;
      color: $medium;
      border-color: transparent;

      &:hover,
      &:focus {
        border-color: $bright;
      }
    }

    &-hidden {
      .editor-menu {
        button {
          opacity: .1;
        }
      }

      &:hover {
        .editor-menu {
          button {
            opacity: 1;
          }
        }
      }
    }
  }
}