@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');
@import './variables.scss';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss';
@import './common.scss';
@import './animations.scss';

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background: $dark;
  font-family: 'Nanum Gothic', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 8px;
}

input,
textarea {
  display: block;
  margin-bottom: 12px;
  border: 1px solid $light;
  padding: 12px;
  width: 100%;
  background: white;
  color: black;

  &[disabled] {
    color: rgba(black, .7);
    cursor: not-allowed;
  }
}

label {
  font-weight: bold;
  font-size: 14px;
  color: $medium;
  margin-bottom: 4px;
  display: block;
}


textarea {
  resize: vertical;
}

.container {
  width: 900px;
  padding: 0 12px;
  margin: 0 auto;
}

button {
  padding: 8px 32px;
  font-size: 16px;
  background: $dark;
  border: none;
  color: white;
  margin-bottom: 8px;
  transition: $transition;
  box-shadow: 0 2px 2px 0 rgba($dark, .5);
  text-align: center;
  cursor: pointer;

  &+button {
    margin-left: 4px;
  }
}

a,
.button-link {
  color: $medium;
  font-weight: bold;
  transition: $transition;

  &:hover {
    color: red;
  }
}

a {
  text-decoration: underline dotted;
}

.button-link {
  background: none;
  border: none;
  padding: 0;
  box-shadow: none;

  &+.button-link {
    margin-left: 16px;
  }
}

.title {
  font-weight: bold;
  color: $dark;
  margin-bottom: 6px;

  &-white {
    color: white;
  }
}

.description {
  font-size: 14px;
  color: $medium;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  z-index: 50;
  display: flex;
  padding: 20px;
  align-items: flex-start;
  justify-content: center;
  background: rgba(black, .5);

  &-body {
    background: white;
    padding: 10px;
    margin: auto;
    @extend %shadow;
  }

  &-close {
    float: right;
  }

  &-lg {
    width: 80%;
  }

  &-md {
    width: 100%;
    max-width: 500px;
  }
}

.editable {
  position: relative;

  &:hover {
    &:before {
      content: '\f044';
      font-family: "Font Awesome 5 Free";
      position: absolute;
      top: 0;
      right: 0;
      opacity: .65;
      color: $dark;
      font-size: 18px;
      background: white;
    }
  }
}