$dark: #4e423a;
$medium: #5f5249;
$light: #dfd2ca;
$bright: #ffc700;
$transition: 300ms;
$lightHover: #f5f1ee;
$inputPadding: 12px;
$inputMargin: 12px;

$blue: #4b84ff;
$red: #ff401e;
$orange: #ffb325;
$green: #4ed400;

$fa-font-path: '../../node_modules/@fortawesome/fontawesome-free/webfonts/';